{% extends "blog/base.html" %}
{% load ratings %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
     <section class="ecg-section ecg-heading mb-5 pb-5">
      <div class="container">
       <div class="row">
          <div class="col-md-8">
            <p class="breadcrumbs"><span class="mr-2">
                <a href="{% url 'blog-home' %}">Strona główna</a></span><span class="mr-2"></span><span>Kursy</span></p>
            <h1 class="bread">Kursy</h1>
          </div>
         </div>
      </div>
    </section>
      <nav class="navbar navbar-light bg-white container justify-content-end d-xl-none my-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       </nav>
    <div class="container">
    <div class="row">
        <div class="col-8">
        <div class="row">
            {% for post in filter.qs %}
                {% if post.authorized == True %}
                    <div class="col-12 col-lg-6 my-5">
                      <div class="card">
                        <h4 class="card-title text-center"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                          <hr>
                            <div class=" col-12">
                                {% ratings post %}
                                <small class="mr-2">
                                  {{ post.author.get_full_name }}</small><br>
                                <small class="text-muted">
                                    {{ post.date_posted|date:"F d, Y" }}</small><br>
                                <small class="text-muted">
                                    {{ post.category }}</small><br>
                              <span class="card-description subtle">{{ post.synopsis }}</span>
                              <a class="btn icon-box-white card-read" href="{% url 'post-detail' post.id %}">Dalej</a>
                            </div>
                      </div>
                      <div class="card-shadow"></div>
                    </div>
            {%  endif %}
        {% endfor %}
        </div>

        </div>

        <div class="col-4">
        <div class="sidebar-box">
           <form method="get">
            <div class="well">
              <h4 class="sidebar-heading">Filter</h4>
              <div class="row">
                <div class="form-group col-12">
                  {{ filter.form.title.label_tag }}
                  {% render_field filter.form.title class="form-control" %}
                </div>
                  <div class="form-group col-12">
                  {{ filter.form.level.label_tag }}
                  {% render_field filter.form.level class="form-control" %}
                </div>
                <div class="form-group col-12">
                  {{ filter.form.category.label_tag }}
                  {% render_field filter.form.category class="form-control" %}
                </div>
                <div class="form-group col-12">
                  {{ filter.form.author.label_tag }}
                  {% render_field filter.form.author class="form-control" %}
                </div>
              </div>
              <button type="submit" class="btn btn-light">
                <span class="glyphicon glyphicon-search"></span> Search
              </button>
            </div>
          </form>
        </div>

        <div class="sidebar-box ">
          <h3 class="sidebar-heading">Paragraph</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
        </div>
        </div>
    </div>


    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page=
                {{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4"
                   href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page=
                {{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page=
                {{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    </div>

{% endblock content %}