{% extends 'blog/base.html' %}
{% block content %}

    <nav class="navbar navbar-light bg-white justify-content-end d-xl-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </nav>

    <div class="container my-5 py-5">
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button class="btn-hover-add" type="submit"><span>Opublikuj</span></button>
    </form>
    </div>
{% endblock %}