{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container my-3">


    <!-- -->
	<section class="home-area section_gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6">
					<div class="home-area-left">
						<div class="get-know">
              <h3 class="text-muted">Witaj na</h3>
							<h1>Ecg.Vot.PL</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna
								aliqua enim minim veniam quis nostrud.</p>
						</div>
						<div class="author-lacture">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna
								aliqua enim minim veniam quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod
								tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud. Lorem ipsum dolor sit amet,
								consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis
								nostrud.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-2-right">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="left-image">
										<div class="s-img"><img class="img-fluid" src="{% static 'images/main-page/img1.jpg' %}" alt=""></div>
										<div class="s-img"><img class="img-fluid" src="{% static 'images/main-page/img2.jpg' %}" alt=""></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="right-image">
									<div class="s-img"><img class="img-fluid" src="{% static 'images/main-page/img3.jpg' %}" alt=""></div>
									<div class="s-img"><img class="img-fluid" src="{% static 'images/main-page/img4.jpg' %}" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- -->


    <!-- cards -->
    <h2 class="pt-5 my-5 text-center">title</h2>
          <div class="row d-none d-xl-flex mb-4">
            <div class="col-xl-3 col-md-6">
              <div class="box">
                <div class="imgBx">
                  <img src="{% static 'images/main-page/img1.jpg' %}">
                </div>
                <div class="content">
                  <h2>Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="box">
                <div class="imgBx">
                  <img src="{% static 'images/main-page/img2.jpg' %}">
                </div>
                <div class="content">
                  <h2>Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="box">
                <div class="imgBx">
                  <img src="{% static 'images/main-page/img3.jpg' %}">
                </div>
                <div class="content">
                  <h2>Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="box">
                <div class="imgBx">
                  <img src="{% static 'images/main-page/img4.jpg' %}">
                </div>
                <div class="content">
                  <h2>Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
    <!-- .cards -->

  <section class="section_gap blog_area my-5 py-5">
    <div class="container">
        <h3 class="heading">Najnowsze kursy:</h3>
        <div class="row justify-content-center">
        <div class="col-lg-4 col-6">
          <div class="sidebar-box my-5">
                <h3 class="sidebar-heading">Jak zacząć?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem maxime, blanditiis ut soluta error perferendis dolore deserunt aperiam corporis. Expedita, nam autem eum nemo assumenda molestiae ratione, quam eligendi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem maxime, blanditiis ut soluta error perferendis dolore deserunt aperiam corporis. Expedita, nam autem eum nemo assumenda molestiae ratione, quam eligendi!</p>
            </div>
        </div>
        <div class="col-8">
        <div class="row">
        {% for post in posts %}
          <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-blog my-3">
            <div class="blog-details">
              <div class="blog-meta">
                <span><i class="fas fa-calendar-alt"></i> {{ post.date_posted|date:"d.m.Y" }} | By {{ post.author.get_full_name }}</span>
              </div>
              <h3 class="heading"><a class="article-title" href=
                            "{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
              <p>{{ post.synopsis }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

        </div>
        </div>
      </div>
    </div>
  </section>



    <!-- main content -->

        <div class="row">
          <div class="col-xl-7 py-5">
            <h3>Paragraph</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum excepturi illum laborum quod, odio, veritatis voluptates amet vel ut doloribus consequuntur consectetur animi voluptatem natus neque minus aspernatur rerum quasi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quae aspernatur, molestias distinctio praesentium obcaecati aliquam exercitationem, vero, nobis nisi repellendus. Maiores obcaecati ducimus suscipit, enim natus, cupiditate illum adipisci.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem doloribus ut autem, nesciunt nobis in, minima velit, adipisci esse repellat voluptatum ipsa cumque. Possimus sit sint ipsam, facilis quos illum.<h3>Paragraph</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum excepturi illum laborum quod, odio, veritatis voluptates amet vel ut doloribus consequuntur consectetur animi voluptatem natus neque minus aspernatur rerum quasi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quae aspernatur, molestias distinctio praesentium obcaecati aliquam exercitationem, vero, nobis nisi repellendus. Maiores obcaecati ducimus suscipit, enim natus, cupiditate illum adipisci.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem doloribus ut autem, nesciunt nobis in, minima velit, adipisci esse repellat voluptatum ipsa cumque. Possimus sit sint ipsam, facilis quos illum.<h3>Paragraph</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum excepturi illum laborum quod, odio, veritatis voluptates amet vel ut doloribus consequuntur consectetur animi voluptatem natus neque minus aspernatur rerum quasi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quae aspernatur, molestias distinctio praesentium obcaecati aliquam exercitationem, vero, nobis nisi repellendus. Maiores obcaecati ducimus suscipit, enim natus, cupiditate illum adipisci.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem doloribus ut autem, nesciunt nobis in, minima velit, adipisci esse repellat voluptatum ipsa cumque. Possimus sit sint ipsam, facilis quos illum.
          </div>

          <div class="col-xl-5 p-xl-0">
            <div class="sidebar-box p-3">
                <h3 class="sidebar-heading">Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
            </div>
            <div class="sidebar-box p-3">
                <h3 class="sidebar-heading">Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
            </div>
          </div>
        </div>
</div>
<!-- .main content -->

{% endblock content%}