{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <section class="home_banner_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-7">
                    <div class="blog_text_slider owl-carousel">
                    {% for post in posts %}
                                 <div class="single-blog-post blog_text ">
                              <div class="post-thumbnail">
                                <img style="max-width: 200px;" class="mx-auto d-block" src="{% static  post.category_abbr|add:".jpg" %}" >
                                <div class="post-cta">
                                  <p>{{ post.category }}</p>
                                </div>
                              </div>
                              <div class="post-content">
                                <h4 class="text-center"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                                <p>{{ post.synopsis }}</p>
                                <div class="post-meta">
                                  {% if not post.author.first_name  %}
                                  <a href="{% url 'profile' post.author.username %}">
                                    <small class="text-muted">{{ post.author }}</small>
                                  </a>
                                {%  else %}
                                    <a href="{% url 'profile' post.author.username %}">
                                      <small class="text-muted">{{ post.author.get_full_name }}</small>
                                    </a>
                                {% endif %}
                                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                                </div>
                              </div>
                            </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="container my-3">
	<section class="home-area section_gap mt-5">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6">
					<div class="home-area-left">
						<div class="get-know">
                          <div class="about-desc">
                            <span class="heading-meta">Welcome &amp; Introduce</span>
                            <h3>Hola! my name is Louie Jie!</h3>
                            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
                        </div>
						</div>
						<div class="author-lacture">
							<div class="row">
                                <div class="col-md-12">
                                    <div class="about-desc">
                                        <span class="heading-meta">Welcome &amp; Introduce</span>
                                        <h3>Hola! my name is Louie Jie!</h3>
                                        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                      <div class="card">
                                        <div id="headingOne">
                                          <h5 class="mb-0 panel-heading">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              Why choose me?
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                          <div class="card-body">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                </div>
                                                <div class="col-md-6">
                                                  <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div id="headingTwo">
                                          <h5 class="mb-0 panel-heading">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              What I do?
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                          <div class="card-body">
                                            <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                            <ul>
                                             <li>Separated they live in Bookmarksgrove right</li>
                                             <li>Separated they live in Bookmarksgrove right</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div id="headingThree">
                                          <h5 class="mb-0 panel-heading">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              My Specialties
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                          <div class="card-body">
                                            <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                               </div>
                            </div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-2-right">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="left-image">
										<div class="s-img"><img class="img-fluid" src="{% static 'blog/images/main-page/img1.jpg' %}" alt=""></div>
										<div class="s-img"><img class="img-fluid" src="{% static 'blog/images/main-page/img2.jpg' %}" alt=""></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="right-image">
									<div class="s-img"><img class="img-fluid" src="{% static 'blog/images/main-page/img3.jpg' %}" alt=""></div>
									<div class="s-img"><img class="img-fluid" src="{% static 'blog/images/main-page/img4.jpg' %}" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- -->

<div class="services">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-md-pull-3">
            <span class="heading-meta">What I do?</span>
            <h2 class="heading animate-box" data-animate-effect="fadeInLeft">Here are some of my expertise</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="feature animate-box" data-animate-effect="fadeInLeft">
                <div class="icon">
                    <i class="fas fa-tags"></i>
                </div>
                <div class="text">
                    <h3>Branding</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature animate-box" data-animate-effect="fadeInLeft">
                <div class="icon">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="text">
                    <h3>Web Design</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature animate-box" data-animate-effect="fadeInLeft">
                <div class="icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="text">
                    <h3>Search engine optimization</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature animate-box" data-animate-effect="fadeInLeft">
                <div class="icon">
                    <i class="far fa-paper-plane"></i>
                </div>
                <div class="text">
                    <h3>Web Development</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature animate-box" data-animate-effect="fadeInLeft">
                <div class="icon">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="text">
                    <h3>User Interface</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature animate-box" data-animate-effect="fadeInLeft">
                <div class="icon">
                    <i class="fas fa-question"></i>
                </div>
                <div class="text">
                    <h3>Help &amp; Support</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock content%}