{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}

  <style>
    .footer-template h2{
        background-color: #242423 !important;
        color: #fff !important;
    }

  </style>



  <div class="container my-5 py-5">
    {% if request.get_full_path == "/post/new/" %}

 <div class="container">
           <div class="row">
              <div class="col-md-8">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Strona główna</a></span> <span class="mr-2"><a href="{% url 'post-list' %}">Lista kursów</a></span> <span>Nowy Kurs</span></p>
                <h1 class="bread">Nowy Kurs</h1>
              </div>
           </div>
        </div>

{% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <button class="btn-hover-update" type="submit"><span>Dodaj</span></button>
    </form>
  </div>

{% endblock %}