{% extends "blog/base.html" %}
{% block content %}

<nav class="navbar navbar-light bg-white justify-content-end d-xl-none">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

    <div class="content-section container py-5 my-5">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <div class="row">
                    <div class="col-11"><h2 class="account-heading">
                        {{ user.get_full_name }}</h2></div>
                    <div class="col-1"><a class="text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas
                    fa-user-edit"></i></a></div>
                </div>
                    <h6 class="text-muted">{{ user.username }}</h6>
                    <hr> <br>
                    <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="content-section mt-4 collapse  container py-5 my-5" id="collapseExample">
    <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form}}
              {{ p_form }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-dark" type="submit">Update</button>
          </div>
    </form>

    </div>
    
    <div class="container content-section">
      <p class="text-muted"> dodaj listę<i class="fas fa-plus mx-4"> </i></p>
    </div>
    
    <div class="content-section container">
      {% for post in posts %}
        {{post.title}}
      {% endfor %}
      
    </div> 
{% endblock content %}