{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section  container py-5 my-5">

        <nav class="navbar navbar-light bg-white justify-content-end d-xl-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <div class="row">
                    <div class="col-11"><h2 class="account-heading">
                        {{ user.get_full_name }}</h2></div>
                </div>
                    <h6 class="text-muted">{{ user.username }}</h6>
                    <hr> <br>
                    <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>

<div class="content-section bg-dark container py-5 my-5">
    {%  for post in posts %}
              <div class="course-block mb-4 d-flex">
                <div class="text">
                  <h3><a class="article-title" href=
                            "{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                  <div class="meta">
                    <div><span ><i class="fas fa-calendar-alt"></i></span> {{ post.date_posted|date:"F d, Y" }}</div>
                  </div>
                </div>
              </div>
              <hr class="bg-secondary">
          {% endfor %}
</div>
{% endblock content %}