{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<nav class="navbar navbar-light bg-white justify-content-end d-xl-none">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <div class="single-blog-post post-style-4 container py-5 my-5">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <div class="row">
                    <div class="col-11"><h2 class="account-heading">
                        {{ user.get_full_name }}</h2></div>
                    <div class="col-1"><a class="text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas
                    fa-user-edit"></i></a></div>
                </div>
                    <h6 class="text-muted">{{ user.username }}</h6>
                    <hr> <br>
                    <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="single-blog-post post-style-4 mt-4 collapse container py-5 my-5" id="collapseExample" >
    <form method="POST" enctype="multipart/form-data" style="width: 75%; margin-left: auto; margin-right: auto;">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form}}
              {{ p_form }}
          </fieldset>
          <div class="form-group">
              <button class="create-comment btn-hover-add" style="width: 40%;" type="submit" name="button"><span>Update</span></button>
          </div>
    </form>

    </div>
    {% if user.profile.developer == True %}
    <div class="container content-section">
    <button type="button" class="create-cycle btn justify-content-end" data-id="{% url 'cycle-create' %}"><span><i class="fas fa-plus" style="color: #96281B;"></i></span></button>
    </div>

    <div class="content-section container">
      {% for cycle in cycles %}

          <h4>{{cycle.title}}</h4>
          <button type="button" class="update-cycle btn btn-sm " data-id="{% url 'cycle-update' cycle.pk %}">
                    <span><i class="fas fa-edit" style="color: #1E824C;"></i></span></button>
              <button type="button" class="delete-cycle btn btn-sm" data-id="{% url 'cycle-delete' cycle.pk %}">
                  <span><i class="fas fa-trash-alt" style="color: #96281B;"></i></span></button>



      {% for c in c_post %}

<div class="single-blog-post post-style-4 d-flex align-items-center wow fadeInUpBig my-3 mx-auto col-lg-5 col-md-6 col-sm-6" data-wow-delay="0.2s">
    <div class="post-content col-12">
        <h4 class="text-center"><a class="article-title" href="{% url 'post-detail' c.id %}">{{ c.title }}</a></h4>
            <div class="row" style="margin: 0; padding: 0;">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="far fa-keyboard"></i><small class="text-muted">
                            {{ c.category }}</small>
                        <br>
                    </li>
                    <li class="list-group-item">
                        <i class="far fa-user"></i><a href="{% url 'profile' c.author.username %}"><small class="text-muted">
                          {{ c.author.get_full_name }}</small></a>
                    </li>
                    <li class="list-group-item">
                        <i class="far fa-calendar-alt"></i><small class="text-muted">
                            {{ c.date_posted|date:"F d, Y" }}</small>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <i class="fas fa-chart-line"></i><small class="text-muted">
                          {{ c.level }}  </small>
                      </li>
                      <li class="list-group-item">
                        <i class="far fa-eye"></i><small class="text-muted">
                            {{ c.numbers_of_entries }} </small>
                        </li>
                      <li class="list-group-item">
                      <i class="far fa-comments"></i><small class="text-muted">
                            {{ c.comments.count }}  </small>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
         </div>

      {% endfor %}


      {% endfor %}


    </div>
    {% endif %}
  <section class="section_gap blog_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
        <div class="row">
        {% for post in posts %}
    <div class="single-blog-post post-style-4 d-flex align-items-center wow fadeInUpBig my-3 mx-auto col-lg-5 col-md-6 col-sm-6" data-wow-delay="0.2s">
    <div class="post-content col-12">
        <h4 class="text-center"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
            <div class="row" style="margin: 0; padding: 0;">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="far fa-keyboard"></i><small class="text-muted">
                            {{ post.category }}</small>
                        <br>
                    </li>
                    <li class="list-group-item">
                        <i class="far fa-user"></i><a href="{% url 'profile' post.author.username %}"><small class="text-muted">
                          {{ post.author.get_full_name }}</small></a>
                    </li>
                    <li class="list-group-item">
                        <i class="far fa-calendar-alt"></i><small class="text-muted">
                            {{ post.date_posted|date:"F d, Y" }}</small>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <i class="fas fa-chart-line"></i><small class="text-muted">
                          {{ post.level }}  </small>
                      </li>
                      <li class="list-group-item">
                        <i class="far fa-eye"></i><small class="text-muted">
                            {{ post.numbers_of_entries }} </small>
                        </li>
                      <li class="list-group-item">
                      <i class="far fa-comments"></i><small class="text-muted">
                            {{ post.comments.count }}  </small>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
         </div>

      {% endfor %}

        </div>
        </div>
      </div>
     {% if posts.has_other_pages %}
        <div class="center mt-5">
            <div class="pagination">
                <ul>
                    {% if posts.has_previous %}
                        <li>
                            <a class="prev" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a class="prev" href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-left"></i></a>
                        </li>
                {% endif %}

                {% for num in posts.paginator.page_range %}
                    {% if posts.number == num %}
                        <li class="page-number active">
                        <a href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                        <li class="page-number">
                        <a
                           href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}


                {% if posts.has_next %}
                    <li>
                    <a class="next" href="?page=
                        {{ posts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                    </li>
                    <li>
                    <a class="next" href="?page=
                        {{ posts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
{% endif %}
    </div>
  </section>


    <script src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
    <script>
    $(function () {
        $(".create-cycle").modalForm({formURL: "{% url 'cycle-create' %}"});
        $(".update-cycle").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
         $(".delete-cycle").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
});
    </script>

{% endblock content %}