{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section container my-5 py-5">

        <nav class="navbar navbar-light bg-white justify-content-end d-xl-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Dołącz Już Dzisiaj</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Sign Up</button>
            </div>
        </form>

            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2 text-dark" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>

    </div>
{% endblock content %}